.castilho-dark-mode #tableWraper{
    background-color: #58595b;
    padding: 15px 20px;
    border-radius: 20px;
}
#tableWraper{
    background-color: lightgray;
    padding: 15px 20px;
    border-radius: 20px;
}
.castilho-dark-mode .chartWrapper{
    background-color: #58595b;
    padding: 0px;
    border-radius: 20px;
}
.chartWrapper{
    background-color: lightgray;
    padding: 0px;
    border-radius: 20px;
}
.alignCenter{
    text-align: center;
}
.d3-tooltip{
    position: absolute;
    display: none;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(51, 51, 51);
    padding: 8px 12px;
    border-radius: 20px;
    pointer-events: none;
    font-size: 13px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    fill: black;
    left: 219px;
    top: 139px;
    white-space: nowrap;
}


.flexRow{
    display: flex !important;
    align-items: stretch !important;
    margin-bottom: 20px;
}
.column {
    flex: 1 !important;
}


.nowrap{
    white-space: nowrap;
}

.panel.panel-primary{
    border-radius: 20px !important;
    overflow: visible;
}
.panel.panel-primary>.panel-heading{
    border-radius: 20px 20px 0px 0px !important;
}
.panel.panel-primary>.panel-body{
    border-radius: 0px 0px 20px 20px !important;
}

.panel.panel-primary .panel-heading{
}
.panel.panel-primary .panel-body{
}

.panel.panel-primary{
    background-color: rgb(222,222,222) !important;
}

.responsive_theme div.wcm-all-content {
    padding-top: 70px !important;
}

/* Darkmode */
.castilho-dark-mode{
    background-color: #3a3a3a  !important;
    color: white !important;
}

.castilho-dark-mode th, .castilho-dark-mode td{
    color:white !important;
}
.castilho-dark-mode .panel-body{
    background-color: gray !important;
}
.castilho-dark-mode .panel{
    background-color: gray !important;
}


.castilho-dark-mode div.dt-container .dt-paging .dt-paging-button.disabled, 
.castilho-dark-mode div.dt-container .dt-paging .dt-paging-button.disabled:hover, 
.castilho-dark-mode div.dt-container .dt-paging .dt-paging-button.disabled:active {
    cursor: default;
    color: gray !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}


.castilho-dark-mode .table-hover tbody tr:hover, .castilho-dark-mode .table-hover tr:hover td{ 
    background-color: #d2d3d6 !important;
    color: black !important;
}


.castilho-dark-mode .card-item{
    background-color: white !important;
    color: black !important;
    padding: 10px 20px !important;
    border-radius: 20px !important;
}
.card-item{
    background-color: white !important;
    color: black !important;
    padding: 10px 20px !important;
    border-radius: 20px !important;
}

.legendText{
    fill: black !important;
}
.castilho-dark-mode .legendText{
    fill: white !important;
}


/* Selectize */
.selectize-dropdown .active:not(.selected){
    background-color: lightgray !important;
    color: black !important;
}
.selectize-dropdown .selected{
    background-color: lightgray !important;
    color: black !important;
}
.selectize-control.single .selectize-input{
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-color: #fff !important;
    background-image: none !important;
}


/* Paginacao */
#divPaginacao{
    background: black;
    display: flex;
    position: sticky;
    text-align: center;
    z-index: 10;
    width: 100%;
    bottom: 0;
    justify-content: center;
    padding: 24px 20px;
    align-items: center;
}
#controlPaginacaoBackward, #controlPaginacaoForward{
    cursor: pointer;
}

.fluig-style-guide .loading-img {
    padding: 30px !important;
}


.card-castilho-success{
    background: linear-gradient(135deg, #008000 0%, #38b000 50%) !important;
}
.card-castilho-error{
    background: linear-gradient(135deg, #800e13 0%, #ad2831 50%) !important;
}

.datepicker td, .datepicker th{
    color: black !important;
}


/* Modal */
.modal{
    border-radius: 20px;
}
.modal-header{
    background-color: dimgray;
    color: white;
    border-radius: 20px 20px 0px 0px;
}
.modal-footer{
    background-color: dimgray;
    border-radius: 0px 0px 20px 20px;
}
.modal-content{
    border-radius: 30px !important;
}
.modal-body .message{
    padding: 30px;
}