.flexRow{
    display: flex !important;
    align-items: stretch !important;
    margin-bottom: 20px;
}
.column {
    flex: 1 !important;
}


.flexRow .panel{
    height: 100% !important;
}

.nowrap{
    white-space: nowrap;
}