/.metadata
com.totvs.tds.ecm.dataservers
*.cache
*.war
*.bkp
*.cache
Transferência de Custo entre Obras/workflow/.resources/CASTILHO-DESENVOLVIMENTO.ws.cache
Transferência de Custo entre Obras/workflow/.resources/CASTILHO-DESENVOLVIMENTO.ws.cache
