.spanTipoTransferencia{
        margin-left: 10px;
}


/* Selectize */
.selectize-dropdown .active:not(.selected){
    background-color: lightgray !important;
    color: black !important;
}
.selectize-dropdown .selected{
    background-color: lightgray !important;
    color: black !important;
}
.selectize-control.single .selectize-input{
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-color: #fff !important;
    background-image: none !important;
}



.panelTransferencia .panel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panelTransferencia .panel-heading{
    background-color: #e3e3e3 !important;
}
.panelTransferencia .panel-title span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}







/* Utils */
.fluig-style-guide .form-control[readonly]{
    color: gray !important;
}
.alignCenter{
    text-align: center;
}
.userImage{
    border-radius: 50%;
}

.iconStonks{
    color: green;
}
.iconNotStonks{
    color: red;
    transform: rotate(90deg);
}





header{
    background-color: #404142; 
    color: white; 
    text-align: center; 
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}
main{
    border-left: 5px solid #404142;
    border-right: 5px solid #404142;
    background-color: white;
}
footer{
    background-color: #404142; 
    color: white; 
    text-align: center; 
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}